<h3>Student Form</h3>

<%= form_tag create_student_path do %>
<label>First name: </label>
<%= text_field_tag name="student[first_name]" %><br>

<label>Last name: </label>
<%= text_field_tag name="student[last_name]" %><br>
<%= submit_tag "Submit Student" %>
<% end %>